@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@media all and (max-width: 390px) {
  .pc {
    display: none;
  }

  html {
    overflow: hidden;
  }
  * {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    color: white;
  }
  a {
    display: block;
    text-decoration: none;
  }
  img {
    /* display: block; */
    width: 100%;
  }
  .close_but {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    position: absolute;
    top: 0.5%;
    right: 3%;
    font-size: 15px;
    line-height: 60px;
    letter-spacing: 2px;
    background: #d9d9d9;
  }
  .menu_page {
    background: url(../img/bg_menu.jpg);
    position: relative;
  }
  .vol_title {
    width: 100%;
    height: 9%;
    margin-bottom: 10%;
    display: none;
    position: absolute;
    top: 5%;
    left: 0;
  }
  .top_title {
    width: 100%;
    font-size: 1.2em;
  }
  .bottom_title {
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 2rem;
  }
  .vol_5 {
    display: block;
  }
  .out_box {
    width: 90%;
    height: 75%;
    overflow-y: scroll;
    position: absolute;
    top: 27%;
    left: 50%;
    margin-left: -45%;
  }
  .out_box::-webkit-scrollbar {
    width: 5px;
    background: rgba(255, 255, 255, 0.514);
    border-radius: 3px;
  }
  .out_box::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 3px;
  }
  .img_box {
    width: 50%;
    height: 20%;
    margin: 20% auto;
    background: white;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    transition-duration: 0.5s;
  }
  .img_box:first-child {
    margin: 30% auto;
    transform: scale(1.8);
  }
  .img_box:nth-child(2) {
    transform: scale(1.5);
  }
  .img_box:last-child {
    margin-bottom: 80%;
  }
  .img_box:nth-child(4) > img {
    transform: scale(1.1);
  }
}
